.navbar{
    padding-top: 19px !important;
    padding-bottom: 19px !important;
border-bottom: 1px solid #6c757d45;
font-weight: 400;
position: fixed !important;
top: 0 !important;
width: 100% !important;
z-index: 1000;
}
button.navbar-toggler.collapsed{
    background: black !important;
    width: 60px;
    height: 60px;
}
div#responsive-navbar-nav{
    text-align: center;
}

.navbar-dark .navbar-toggler
{
    background: black !important;
    width: 60px;
    height: 60px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #6c757d !important;
    font-weight: 500 !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: black !important;
}
.cmr{
  margin-right:7px ;  
}
.btn{
    padding-top: 2px;
    padding-bottom: 2px ;

}
.btn-docs{
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-radius: 5px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;

}

.btn-docs:hover{
    border: 1.5px solid black !important;

    
}
@media screen and (max-width:990px){
    .nav-link{
        font-size: 22px;
        font-weight: 700 !important;
    }
     button.btn-docs.btn.btn-primary {
        font-size: 23px;
        font-weight: 600;
        padding: 1% !important;
    }
    
}