.col-2-a{
    width: 53% !important;
    text-align: right;
    padding-top: 6%;
}
.col-1-b{
    padding-top: 6%;
}
.row-steps{
    padding-top: 6%;
    padding-bottom: 6%;
}
.col-3-b{
    padding-top: 6%;
}
.text-steps{
    box-shadow: 1px 7px 20px 1px #c2c2c2b9;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 6%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
}